<template>
	<div id="app">
		<div class="sidenav">
			<router-link :to="'/'">Home</router-link>
			<router-link :to="'/daftar'">Daftar</router-link>
			<router-link :to="'/wish'">Wish</router-link>
		</div>
		<div class="main sebar-main">
			<h1 class="sebar-h1">SEWA BARANG</h1>
			<div class="divider"></div>
			<input type="text" name="" class="sebar-input" placeholder="Cari Barang ...">
			<div v-if="loading" class="col-md-12">
				<span class="progress">
					Sedang Mengambil Data ...
				</span>
			</div>
			<div v-else>
				<div class="row">
					<GetApi :film="film" v-for="(film, index) in films" :key="index">
						<span slot="jenis">DVD&nbsp;</span>
					</GetApi>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import axios from 'axios'
	import GetApi from '../components/GetApi'
	export default {
		name: 'Daftar',
		components: {    
			GetApi
		},
		data: function () {
			return {
				films: [],
				loading: true,
				errored: false,
			}
		},
		methods: {
			fetchFilms: function () {
				axios.get('https://api.themoviedb.org/3/list/1?api_key=56598d890c1a31aeed1fc0a5daddec30').then((response) => {
					this.films = response.data.items
					console.log(response.data.items)
				}, (error) => {
					console.log(error)
				}).catch(error => {
					console.log(error)
					this.errored = true
				})
				.finally(() => this.loading = false)
			},
		},
		mounted: function () {
			this.fetchFilms()
		}
	}
</script>
<style>
.back{
	text-decoration: none!important;
}
</style>