<template>
	<div id="app">
		<div class="sidenav">
			<router-link :to="'/'">Home</router-link>
		</div>
		<div class="main">
			<GetDetailApi ></GetDetailApi>
			<router-link class="btn btn-warning" style="margin: 45px;" to="/">Kembali Ke Home</router-link>
		</div>
	</div>
</template>

<script>
	import GetDetailApi from '../components/GetDetailApi'
	export default {
		name: 'DetailFilm',
		components: {    
			GetDetailApi
		},
		data: function () {
			return {
				films:[] 
			}
		}, 
	}
</script>
<style>
.back{
	text-decoration: none!important;
}
</style>