<template>
	<div id="app">
		<div class="sidenav">
			<router-link :to="'/'">Home</router-link>
			<router-link :to="'/daftar'">Daftar</router-link>
			<router-link :to="'/wish'">Wish</router-link>
		</div>
		<div class="main main1">
			<div class="row">
				<div class="col-md-6" style="padding-left: 40px;">
					<h1 class="kiri-renthing">RENTHING</h1>
					<div class="divider"></div>
					<p style="color: #8E8E8E;">Membantu anda dalam hal sewa menyewa barang. Selain bisa transaksi, dengan aplikasi ini anda bisa menemukan tempat penyewaan yang ada di sekitar anda.</p>
					<router-link class="btn btn-primary" :to="'daftar'">Daftar Film</router-link>
				</div>
				<div class="col-md-6">
					<h1 class="kanan-renthing">Sewa Barang Idaman Anda di RENTHING</h1>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import axios from 'axios'
	import GetApi from '../components/GetApi'
	export default {
		name: 'app',
		components: {    
			GetApi
		},
		data: function () {
			return {
				films: [],
				loading: true,
				errored: false,
			}
		},
		methods: {
			fetchFilms: function () {
				axios.get('https://api.themoviedb.org/3/list/1?api_key=56598d890c1a31aeed1fc0a5daddec30').then((response) => {
					this.films = response.data.items
					console.log(response.data.items)
				}, (error) => {
					console.log(error)
				}).catch(error => {
					console.log(error)
					this.errored = true
				})
				.finally(() => this.loading = false)

			}
		},
		mounted: function () {
			this.fetchFilms()
		}
	}
</script>

