<template>
	<div id="app">
		<div class="sidenav">
			<router-link :to="'/'">Home</router-link>
			<router-link :to="'/daftar'">Daftar</router-link>
			<router-link :to="'/wish'">Wish</router-link>
		</div>
		<div class="main">
			<div style="padding: 30px 0 0 30px;">
				<h3>Wishlist</h3>
				<input style="margin-left: -5px;" v-model="new_todo" placeholder="I want ..." class="sebar-input">
				<button class="btn btn-primary btn-lg" style="margin-left: 20px;" @click="addTodo()">Add</button>
				<p>{{warning}}</p>
				<TodoItem v-for="(item, index) in todos" :key="index" :todo="item" :index="index" v-on:checkTodo="checkTodo($event)" v-on:removeTodo="removeTodo($event)" v-on:editTodo="editTodo($event)">        
					<span slot="item" :class="{ checked: item.status }">{{index+1}}. {{item.name}} </span>
				</TodoItem>
				<button class="btn btn-primary btn-lg" @click="save()">Save to Local Storage</button>
				<TodoStatus :checkedStatus="this.checkedStatus()" :uncheckedStatus="this.uncheckedStatus()"></TodoStatus>
				<TodoEdit v-if="edit" :editValue="this.editValue" v-on:ubahTodo="ubahTodo($event)" v-on:cancel="cancel($event)"></TodoEdit>
			</div>
		</div>
	</div>
</template>

<script>
	import TodoItem from '../components/TodoItem.vue'
	import TodoStatus from '../components/TodoStatus.vue'
	import TodoEdit from '../components/TodoEdit.vue'

	export default {
		name: 'wish',
		components: {
			TodoItem,
			TodoStatus,
			TodoEdit
		},
		data() {
			return {
				new_todo:'',
				editValue:'',
				editId:'',
				warning:'',
				todos: [],
				edit:''
			}
		},
		methods: {
			addTodo() {
				var a = this.todos.slice(-1).pop() ? this.todos.slice(-1).pop().id :0; 
				this.todos.push({
					id:a+1,
					name:this.new_todo,
					status:null
				});
				this.new_todo=''
			},
			checkTodo:function(id){
				const a = this.todos.find(todos => todos.id === id );
				if(a.status == 'checked'){
					a.status = null;
				}else{
					a.status = 'checked';
				}
			},
			removeTodo(index) {
				this.todos.splice(index, 1);
			},
			editTodo:function(data){
				this.edit='oq'
				this.editId=data[0]
				this.editValue=data[1]
			},
			ubahTodo:function(dataEdit){
				const a = this.todos.find(todos => todos.id === this.editId )
				a.name=dataEdit
				this.edit=''
			},
			save:function(){
				localStorage.setItem('todos',JSON.stringify(this.todos));
				alert('data sucessfully saved');
			},
			cancel:function(){   
				this.edit=''
				this.editId=''
				this.editValue=''
			},
			checkLocalStorage:function(){
				if (localStorage.getItem('todos')) this.todos = JSON.parse(localStorage.getItem('todos'));
			},
			checkedStatus:function(){
				const a = this.todos.filter(x=>x.status == 'checked');
				return a.length;
			},
			uncheckedStatus:function(){
				const a = this.todos.filter(x=>x.status == null);
				return a.length;
			},
		},
		created(){
			this.checkLocalStorage();
		},
		watch: {
			new_todo: function (newValue, oldValue) {
				if (this.new_todo.length > 10) {
			        // maka akan ada warning
			        this.warning = 'Maksimal 10 karakter!'
			    } else {
			    	this.warning = ''
			    }
			}
		}
	}
</script>