<template>
	<div class="col-md-3">
		<div class="card" style="width: 15rem;">
			<img class="card-img-top" :src="'https://image.tmdb.org/t/p/w500' + film.poster_path" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title"><slot name="jenis"></slot>{{ film.title }}</h5>
				<p class="card-text">Popularity: {{ film.popularity }}<br>Rating: {{ film.vote_average }}<br>Released on: {{ film.release_date }}</p>
				<router-link class="btn btn-warning" :to="'detail/' + film.id ">Detail Film</router-link>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'GetApi',
		props: {
			film: Object,
			index: Number
		},
	}
</script>