<template>
	<div id="item">
		Done <span>{{ checkedStatus }}</span>
		Undone <span>{{ uncheckedStatus }}</span>
	</div>
</template>
<script>
	export default {
		name: 'TodoStatus',
		props: ['checkedStatus','uncheckedStatus']
	}
</script>
<style>
#item{
	margin-top:20px;
}
</style>