<template>
	<div style="margin-bottom: 20px;">
		<input :checked="todo.status" style="width: 20px; height: 20px; margin-right: 30px;" type="checkbox" @click="$emit('checkTodo',todo.id)">
		<slot name="item"></slot>
		<button style="margin-left: 30px;" class="btn btn-success btn-lg" :disabled="todo.status" @click="$emit('editTodo',[todo.id, todo.name])">Edit</button>
		<button style="margin-left: 30px;" class="btn btn-danger btn-lg" @click="$emit('removeTodo',index)">Remove</button>
	</div>
</template>
<script>
	export default {
		name:'TodoItem',
		props:{
			todo: Object,
			index: Number,
		},
	}
</script>
<style>
#item{
	margin:10px;
}
.checked{
	text-decoration: line-through; 
}
</style>