<template>
	<router-view />
</template>

<style>
.sidenav {
	height: 100%;
	width: 160px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #007bff;
	overflow-x: hidden;
	padding-top: 20px;
	border-right: 5px #0943D8 solid;
}

.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #fff;
	display: block;
}

.sidenav a:hover {
	color: #0943D8;
	background-color: #fff;
}

.main {
	margin-left: 160px; /* Same as the width of the sidenav */
	font-size: 28px; /* Increased text to enable scrolling */
	padding: 0px 10px;
	font-family: open sans;
	background-color: #E7F8FF;
}

.main1 {
	background: url(assets/img/banner 2.png);
	background-size: cover;
}

.kanan-renthing {
	margin: 50% 0 50% 30%;
	color: white;
}

.kiri-renthing {
	color: #5323FF;
	margin-top: 30%;
	font-size: 60px;
	margin-bottom: 30px;
}

.divider {
	width: 120px;
	height: 5px;
	margin: -30px 0 35px 20px;
	border-radius: 5px;
	background-color: #5323FF;
}

.card {
	margin: 20px;
}

.card p {
	font-size: 20px;
}

.sebar-h1 {
	margin-left: 20px;
	color: #5323FF;
	margin-bottom: 30px;
}

.sebar-main {
	padding: 30px;
}

.sebar-input {
	width: 200px;
	margin-left: 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	padding: 12px 20px 12px 12px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

.sebar-input:focus {
	width: 400px;
}

body {
	overflow-x: hidden;
	background-color: #E7F8FF;
}
</style>